<h1>Caso de COVID</h1>
<%= link_to new_covid_case_path, class: 'btn btn-primary' do %>
<i class="fa fa-plus-circle"></i>
NOVO CASO DE COVID
<% end %> </br></br>
<%= render 'covid_cases/search' %>
<%= render 'covid_cases/result_search' %>