<h1>Lista de Estados</h1>
<%= link_to new_state_path, class: 'btn btn-primary' do %>
<i class="fa fa-plus-circle"></i>
NOVO ESTADO
<% end %> </br></br>
<%= render 'states/search' %>
<%= render 'states/result_search' %>
