<%= link_to states_path, class: 'btn btn-primary' do %>
<i class="fa fa-arrow-left"></i>
VOLTAR
<% end %>
<hr>
<h4><i class="fa fa-plus-circle"></i> Novo estado</h4>
<%= render 'form', state: @state %>