<div class="col-md-3">
  <%= link_to states_path, class: 'btn btn-primary' do %>
  <i class="fa fa-arrow-left"></i>
  VOLTAR
  <% end %>
  <%= link_to edit_state_path(@state), class: 'btn btn-warning btn-sm' do %>
  <i class="fa fa-edit"></i>
  EDITAR
  <% end %>
</div>
<hr>
<p>
  <strong>UF:</strong>
  <%= @state.uf %>
</p>
<p>
  <strong>Nome:</strong>
  <%= @state.name %>
</p>